/* Home.scss */

$a: #0078D3;
$link-color: #717171;

.Intro {
    transition: all 0.5s ease-out;
    font-family: system-ui;
    padding: 30px 90px;

    .Title {
        /* Both Title and Title-footer have the same padding-left */

        color: #1a1a1a;
        font-size: 48px;
        word-spacing: -5px;
        line-height: 50px;
        font-weight: 650;
    }

    p{
        color: $link-color;
        font-size: 16px;
        padding: 10px 0;
        margin: 0;
    }

    #link{
        font-size: 14px;
        padding: 0;

        a{
            margin-left: 10px;
            text-decoration: none;
            color: $a;
            font-weight: 600;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;

        button{
            background-color: white;
            border: 1px solid rgba(0, 120, 211, 0.3);
            border-radius: 4px;
            color: $a;
            font-size: 16px;
            padding: 16px 26px;
            cursor: pointer;
        }

        button:hover{
            box-shadow: 0 0 8px rgb(230, 230, 230);
            transition: 0.3s all ease;
            transform: translateY(-1px);
        }

        #sgn{
            background-color: $a;
            color: white;
        }

        #lgn:hover{
            background-color: #0078d3d8;
        }
    }
}











